h1 {
    text-align: center;
}
.main{
    box-sizing: border-box;
    font-size: 1.2em;
    & div{
        margin: 15px auto;
        text-align: center;
        width: 60%;
    }
    & input,textarea{
        // padding: 15px;
        background: transparent;
        border: none;
        border: 1px solid red;
        color: red;
        color: white;
        font-family: inherit;
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;

        &::placeholder{
            color: white;
        }
        &:hover{
            background: rgba(0,0,0,0.4);
        }
    }
    & input {
        height: 3em;
        padding: 5px 15px;
    }
    & textarea{
        height: 300px;
        resize: none;
        padding: 25px;
    }
    & #btn-send {
        height: 3em;
        background: rgba(255,0,0,0.3);
        &:hover{
            background: rgba(255,0,0,0.5);
            font-weight: bold;
        }
    }
}