.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
.header ul {
    width: 80%;
    text-align: center;
    padding: 10px 15px;
}
.header ul li{
    display: inline-flex;
    margin: 0 5px;
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    background-color: gray;
}
.header ul a li {
    color: inital;
}
.header a {
    text-decoration: none;
}