body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: red;
}

a:focus, a:hover {
  text-decoration: none;
  color: #1d9b6c;
}

#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: red;
  border: 1px solid red;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .dropdown-menu {
  background-color: #000000;
}

#mainNav .dropdown-item:hover {
  background-color: #000000;
  color: red;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

#fightersList {
  text-align: center;
  margin: auto;
  width: 100%;
}

.fighter-box {
  width: 25%;
  float: left;
  border: 3px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  text-align: left;
  padding: 10px;
}

.fighter-box:hover {
  border: 3px solid red;
  cursor: pointer;
}

.sort-data {
  font-family: 'Cabin', sans-serif;
  font-size: 1.2em;
}

.sort-data:hover {
  color: red;
  cursor: pointer;
}

.fighter-props {
  line-height: 0.1;
  padding: 5px;
}

.fighter-props-club {
  font-family: 'Cabin', sans-serif;
  font-size: 1.1em;
  text-align: center;
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.fighter-props-identity {
  font-family: 'Cabin', sans-serif;
  font-size: 23px;
}

.detail-section {
  background-color: rgb(30, 30, 30);
  padding: 25px;
  height: 100vh;
}

.detail-section-header {
  font-family: 'Cabin', sans-serif;
  font-size: 23px;
  /* clear: both; */
  text-align: center;
  line-height: 0.1;
}

.detail-section-text {
  font-size: 20px;
  clear: both;
  text-align: left;
  line-height: 0.1;
}

.partners{
  line-height: normal;
  text-align: justify;
}

.detail-section-node {
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
}

.detail-section-avatar {
  z-index: 1;
  position: absolute;
  top: 15%;
}

.close-details {
  font-family: 'Cabin', sans-serif;
  font-size: 26px;
  float: right;
}

.close-details:hover {
  cursor: pointer;
  color: red;
}

.club-box {
  width: 50%;
  height: 220px;
  float: left;
  border: 3px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  text-align: left;
  padding: 10px;
}

.club-box:hover {
  border: 3px solid white;
  cursor: pointer;
}

.fight-box {
  width: 100%;
  height: 2.2em;
  background-color: rgb(34, 34, 34);
  font-family: 'Cabin', sans-serif;
  font-size: 1.7em;
  margin-top: 10px;
  position: relative;
}

.fight-box:hover {
  box-sizing: border-box;
  border: 2px solid red;
  cursor: pointer;
}

.against-sign {
  position: absolute;
  left: 50%;
  top: 20%;
  display: block;
  color: red;
}
.against-sign-fight {
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  color: white;
}

.fighter-one {
  position: absolute;
  left: 20px;
  top: 20%;
  display: block;
}

.fighter-two {
  position: absolute;
  right: 20px;
  top: 20%;
  display: block;
}

.footer-bugreport {
  font-size: 10px;
  color: grey;
}

.club-header {
  padding: 5px 15px;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
}

.fighterOneBox{
  float: left;
  display: block;
  background: rgb(34, 34, 34);
  padding: 20px 50px;
  width: 30%;
}

.fighterTwoBox{
  float: right;
  display: block;
  background: rgb(34, 34, 34);
  padding: 20px 50px;
  width: 30%;
}

@media (max-width: 768px) {
  .fighter-box {
    width: 100%;
  }
  .detail-section-header {
    line-height: normal;
  }
  .detail-section-avatar {
    position: static;
    text-align: center;
    height: 60%;
    width: 70%;
  }
  .detail-section-text {
    line-height: 1;
  }
  .club-box {
    width: 100%;
  }
  .fight-box {
    font-size: 1.1em;
  }
  .against-sign {
    font-size: 0.6em;
    top: 40%;
  }
  .against-sign-fight{
    font-size: 1.6em;
    top: 67%;
  }
  .fighter-one, .fighter-two {
    font-size: 0.8em;
  }
  .fighterOneBox{
    padding: 30px;
    width: 100%;
    border-bottom: 30px solid #1e1e1e;
  }
  .fighterTwoBox{
    padding: 30px;
    width: 100%;
  }
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 0, 0, 0.4);
  }
  #mainNav .nav-link.active:hover {
    color: white;
  }
  #mainNav .nav-link:hover {
    color: red;
  }
  #mainNav .navbar-brand:hover {
    color: red;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.3);
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
  text-transform: none;
}

.main {
  font-size: 35px !important;
  line-height: 0.1;
}

.masthead .intro-body .intro-text {
  font-size: 1.4em;
  text-align: center;
}

.masthead .intro-body .intro-text::first-letter {
  font-size: 1.6em;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 60px;
  }
  .masthead .intro-body .intro-text {
    font-size: 1.4em;
    /* width: 60%; */
  }
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: red;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid red;
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
  /* height: 100vh; TODO: Set 100vh for specific screens. For example, it looks good at first section, but not in contact.*/
}

#regulations ol li{
  font-size: 120%;
}

.gala-date {
  text-align: left;
  line-height: 0.1
}

.history-section {
  background-color: rgb(34, 34, 34);
}

.old-galas{
  height: 400px;
  box-sizing: border-box;
}

.old-gala-header {
  padding: 5px 15px;
  font-family: 'Cabin', sans-serif;
  font-size: 26px;
  clear: both;
  background-color: rgba(0, 0, 0, 0.7);
}

.old-gala {
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 24.8%;
  padding: 25px;
  margin: 1px;
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 1.2em;
}

.old-gala:hover{
  margin: 0;
  border: white 1px solid;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

@media (max-width: 768px){
  .old-gala{ 
    width: 100%;
    background-position: center;
  }
}

.download-section {
  color: white;
  background: url("../img/downloads-bg.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: red;
  border: 1px solid red;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid red;
  outline: none;
  background-color: red;
}

.countdowntimer {
  padding: 10px;
  color: black;
  font-size: 22px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  background-color: white;
  border-radius: 10px;
}

.countdown-desc {
  padding: 10px;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
  .main {
    line-height: normal;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
.tg  {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td{
  /* font-family:'Cabin', sans-serif; */
  font-size:17px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:red;
}
.tg th{
  font-family:'Cabin', sans-serif;
  font-size:17px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:red;
}
.tg .tg-yw4l{
  vertical-align:top
}
.tg-row :hover{
  background: #1e1e1e;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}