.navigation {
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0;
}
.navigation li {
    display: inline;
    color: black;
    margin: 0 15px;
}
.navigation li a {
    color: inherit;
    text-decoration: none;
}
.navigation li:hover {
    color: white;
    cursor: pointer;
}
#landing {
    background: url("../../../assets/images/landing-background.jpg");
    overflow: hidden;
    color: white;
}
#landing .content{
    background: rgba(0,0,0,0.5);
}
#landing .content h1:first-child{
    text-transform: uppercase;
    text-align: center;
    color: white;
}