div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
div ul {
    margin: 5em 0;
    padding: 0;
    font-size: 1.4em;
    list-style-type: none;
    & li:hover {
        background: rgba(0,0,0,0.7)
    }
    & a {
        line-height: 2em;
        font-weight: 700;
        color: red;
        text-align: center;
        text-decoration: none;
        & :hover{
            cursor: pointer;
            color: white;
        }
    }
    & .active li{
        background: rgba(0,0,0,0.7);
        color: white;
    }    
}